# Data Science & ML
pandas
numpy==1.26.4
scikit-learn==1.5.2
matplotlib
joblib

# Web Framework
flask
flask-cors

# Database (MNC Level)
sqlalchemy
psycopg2-binary

# Configuration
python-dotenv

# PostgreSQL
psycopg2-binary

dill

# DL
tensorflow==2.15.0

langchain-groq
langchain-core
tensorflow
fpdf
python-dotenv