body{
margin:0;
background:#111;
overflow:hidden;
}

canvas{
width:100vw;
height:100vh;
display:block;
}

button{
position:absolute;
top:20px;
left:20px;
padding:10px 20px;
background:orange;
border:none;
font-weight:bold;
cursor:pointer;
z-index:10;
}